<!DOCTYPE html>
<html lang="en">
<head data-theme="light">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This blog is all about diving into the fascinating world of scale models, but don't be surprised if I veer off course occasionally to share tidbits about my other passions and interests too.">
  <title>Big Robot Smash | {{ title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="stylesheet" href="https://use.typekit.net/trq2rdo.css">
  <link rel="stylesheet" href="{{ '/css/light.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/dark.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  <script src="{{ '/scripts/colour-theme.js' | url }}"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HWXNC5Y0PY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HWXNC5Y0PY');
  </script>

</head>
<body>
  <div class="layout">
    <header class="layout__header">
      <h1><a href="/">Big Robot Smash<em>.</em></a></h1>
      <nav>
        <ul>
          <li class="{% if title == 'Latest Posts' %}active{% endif %}">
            <a href="/">
              Latest Posts
            </a>
          </li>
          <li class="{% if title == 'About' %}active{% endif %}">
            <a href="/about">
              About
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="layout__main">
      {{ content }}
    </main>
    <footer class="layout__footer">
      <ul>
        <li>&copy; <a target="_blank" href="https://github.com/ash-lift">Ash Smith</a> {{ "now" | date: "%Y" }}. ⚡ by <a target="_blank" href="https://www.11ty.dev/">11ty</a></li>
        <li><button type="button" data-theme-toggle aria-label="Change to light theme">Change to light theme</button></li>
      </ul>
    </footer>
  </div>
</body>