[data-theme="dark"] {
  --neutrals-bg-1: hsl(240, 3%, 0%);
  --neutrals-bg-2: hsl(240, 3%, 8%);
  --neutrals-bg-3: hsl(240, 2%, 17%);
  --neutrals-bg-4: hsl(240, 2%, 21%);
  --neutrals-bg-5: hsl(240, 1%, 27%);
  --neutrals-bg-6: hsl(240, 2%, 47%);
  --neutrals-text-default: hsl(0, 0%, 100%);
  --neutrals-text-light: hsl(0, 0%, 57%);
  --neutrals-text-disabled: hsl(0, 0%, 37%);
  --accent-color: #5E79FD;
}