[data-theme="light"] {
  --neutrals-bg-1: hsl(240, 0%, 100%);
  --neutrals-bg-2: hsl(240, 20%, 98%);
  --neutrals-bg-3: hsl(240, 2%, 92%);
  --neutrals-bg-4: hsl(240, 2%, 88%);
  --neutrals-bg-5: hsl(240, 2%, 82%);
  --neutrals-bg-6: hsl(240, 3%, 71%);
  --neutrals-text-default: hsl(0, 0%, 7%);
  --neutrals-text-light: hsl(0, 0%, 47%);
  --neutrals-text-disabled: hsl(0, 0%, 67%);
  --accent-color: #2246FC;
}