.image_grid {
  list-style-type: none;
  display: grid;
  gap: 1rem;
  overflow: auto;

  li {
    margin: 0;
  }

}

.image_grid--2col {
  grid-template-columns: 1fr 1fr;
}

.image_grid--3col {
  grid-template-columns: 1fr 1fr 1fr;
}

.image_grid--swipe {
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 0.75rem;

  & > * {
    margin: 0;
    scroll-snap-align: center;
  }

}