---
title: Latest Posts
layout: layout.html
pagination:
  data: collections.post
  size: 10
  alias: posts
  reverse: true
---

<div class="latest_posts">
  {% for post in posts %}
    <article class="post_summary">
      <figure class="post_summary__image">
        <a aria-label="Read more about {{ post.data.title }}" href="{{ post.url }}"><img src="/assets/images/{{ post.data.img }}" alt=""></a>
      </figure>
      <div class="post_summary__text">
        <time class="date" datetime="{{ post.data.date }}">{{ post.data.date | postDate }}</time>
        <h2 class="title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <ul>
          {% for tag in post.data.tags | filterTagList %}
            {% if tag != "post" %}
              <li><a href="/tags/{{ tag | slugify }}" class="post-tag">{{ tag }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </article>
  {% endfor %}
</div>

{% if collections.post.size > pagination.size %}
<nav class="pagination">
  <ol>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}<span>Previous</span>{% endif %}</li>
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}<span>Next</span>{% endif %}</li>
  </ol>
</nav>
{% endif %}